.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 48px;
}

.CharactersSection {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.LocationsSection {
  display: flex;
  flex-wrap: wrap;
}

.EpisodesSection {
  display: flex;
  flex-wrap: wrap;
}
