.App {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 48px;
}

.CharactersSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.LocationsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.EpisodesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
