.Card {
  width: 100%;
  max-width: 500px;
  min-height: 120px;
  padding: 10px;
  margin: 40px 20px;
  border: 0px #999 solid;
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.Card__profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  border-radius: 0 7px 0 0;
}

.Card__h2 {
  margin: 20px 20px 0 20px;
}

.Card__button {
  width: auto;
  margin: 20px;
  padding: 10px;
  border: 1px #999 solid;
  border-radius: 7px;
}

.Card__main {
  margin: 0 20px 20px 20px;
}

.Card__main.hidden {
  display: none;
}
