@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'Gloria Hallelujah', sans-serif;
  text-align: center;
  line-height: 1.7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-rows: auto 48px;
}

.ContentMain {
  overflow-y: scroll;
}
